*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.kepala {
     position: fixed;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    background: #596fb7;
    height: 80px;
    width: 100%;
}
label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;

}
nav ul{
    float: right;
    margin-right: 20px;

}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 50px;

}
.qa{
    display: grid;

}
nav ul li a{
    color: white;
    font-size: 17px;
    /* padding: 12px; */
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #3f4a6b;
    transition: .5s;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    
}
#check {
    display: none;
}
 @media (max-width: 952px) {
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    /* nav ul li a{
        font-size: 16px;
    } */
} 
 @media (max-width: 858px){
    .checkbtn{
        display: block;
    }
 ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        /* background:  #3f4a6b; */
        top: 80px;
        left:0;
        text-align: center;
    }
    nav ul li{
        display: block;
        margin: 30px 0;
        line-height: 30px;

    }
    nav ul li a{
        font-size: 20px;
        background-color: none;
        /* color:#375ace; */
    }
} 
@media screen and(max-width: 768) {
    .kepala{
        color: #375ace;
        
    }
    h1{
       font-size: 20px; 
    }

}
.ke {
    width: 130px;
    height: 130px;
    margin-left: 70px;
}
/* csssheader */
.brand{
    display: inline-block;

}
@media (max-width: 768)
 {
    h1{
        font-size: 20px;
    }
}
.brand.brand-name h1{
    font-size: 25px;
    color: #596fb7;
    text-transform: uppercase;
}
h1{
    margin-left: 400px;
    margin-top: -70px;
    color: #596fb7;
    
}

h3{
    margin-left: 400px;
    color: #596fb7;
    font-family: Arial, Helvetica, sans-serif;
    
}
.input-group{
    margin-left: 800px;
    margin-top: -50px;
    width: 80px;
    height: 20px;
}
.pembungkus-searchbox{
    display: flex;
    align-items: center;
}
.ju h5{
    background: #375ace;
    font-size: 16px;
}
.y{
    width:100%;
    height: 500px;
}
.ma{
    text-align: center;
}
.fe{
    margin-left: 200px;
    /* margin-top: -200px; */
}
.ta{
    width: 200px;
    height: 200px;
    margin-left: 1000px;
    margin-top: -50px;
}
.text{
    margin-top: 30px;
}
.yul{
    margin-left: 1000px;
}
.kep{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-top: -1000px;
}
.dor{
    font-size: 30px;
    color: #375ace;
    text-align: center;
}

.se{
    margin-left: 300px;
    margin-top: 50px;
}
/* .xa{
    width: 100%;
    height: 500px;
} */
.etta{
    width: 200px;
    height: 200px;
}
.za{
    font-size: 28px;
    
}
.zi{
    width: 200px;
    height: 200px;
}


/* galery */
#gelery{
  background-color: white;
}
h2{
  text-align: center;
}
.wa{
    background-color: white;
    margin-top: -50px;
    /* margin-top: ; */
    text-align: center;
}
.btn btn-drak btn-kirim{
  background-color: blue;
}
.wasa{
  margin-top: 20px;
}
/* .kamu{
    width: 1263px;
    margin-top: 120px;
    height: 300px;
} */
/* .kak{
    width: 1400px;
    margin-left: -200px;
    margin-top: -50px;

} */
.ta{
  margin-top: -110px;
  text-align: center;
}
.sa{
 margin-right: 80px;
}
i{
  color: white;
  width: 50px;
  height: 50px;
}
.fa{
  width: 30px;
  height: 20px;
}
.ide {
  width: 50px;
  height: 50px;
  margin-left: 30px;
}
/* g */


/* Alamat*/
.yulia4 h4{
    display: inline;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    /* margin-top: -170px; */
    margin-left: 500px;
    margin-top: 50px;

}
.yulia4 p{
    display: inline;
    position: absolute;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 80px;
    margin-left: 400px;
}
.yulia5 h4{
    display: inline;
    position: absolute;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 60px;
    margin-left: 500px;

}
.yulia5 p{
    display: inline;
    position: absolute;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: 100px;
    margin-left: 400px;
}
.b{
    display: inline;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;

}
.m6{
    display: inline;
    width: 100px;
    height: 1000px;
    border: 1px solid black;
}
.xaxa{
    width: 150px;
    height: 150px;
    margin-left: 140px;
    margin-top: -250px;
   

}
.xaxe{
    width: 150px;
    height: 150px;
    margin-left: 140px;
   

}
.xaxo{
    width: 150px;
    height: 150px;
    margin-left: 140px;
   

}
.dada{
    margin-top: -600px;
}
.fal{
    text-align: center;
    font-size: 27px;
}
.zase{
    width: 100%;
    height: 200px;
}
h6{
    font-size: 29px;
}